{% load disk_extras %} 
 <table class="table table-hover" border="1">
            <tr><th>servername</th>
                <th>partitionname</th><th>bsize</th><th>fsize</th><th>sharename</th>
                <th>sharepath</th></tr>

<tr>
			{% for server in savedate %}
			{% for se in server.server.all %}
            <td rowspan="{{ se | count_share }}">{{se.servername}}</td>
            {% for part in se.partition.all %}
            <td rowspan="{{ part.share.count }}">{{part.partitioname}}</td>
            <td rowspan="{{ part.share.count }}">{{part.basicsize}}</td>
            <td rowspan="{{ part.share.count }}">{{part.freesize}}</td>
            {% for sh in part.share.all %}
            <td>{{sh.sharename}}</td>
            <td>{{sh.sharepath}}</td>
    </tr><tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
		{% endfor %}

    </tr>
    </table>