{% extends "base.html" %}
{% load disk_extras %}
{% block title %}Windisk{% endblock title %}
{% block lie1 %}<li class="active">{% endblock lie1 %}
{% block page-title %}Windisk{% endblock page-title %}
{% block javascript %}
        <script type="text/javascript">
          $(document).ready(function(){
                  $(".selected").change(function(){
                      var $servername=$("#server").val();
					  var $time=$("#time").val();
                      $.ajax({
                          url:'/show/',
                          type:'get',
                          data:{'servername':$servername,
						        'time':$time,
						  },
                          success:function(data){
                                 $('#data').html(data);
                          }
                          });
                      });
                  }); 
        </script>
{% endblock javascript %}
{% block showsome %}
<div>
            <label>请选择要查询的服务器，默认显示所有</label>
            <select name="sever" id="server" class="selected"><option value="Allserver" selected="selected">Allserver</option>

						{% for se in server %}
                        <option value="{{se.servername}}">{{se.servername}}</option>
                        {% endfor %}

                    </select>
            <select name="time" id="time" class="selected">
			            {% for server in savedate%}
                        <option value="{{server.date}}" selected="selected">{{server.date}}</option>
                        {% endfor %}
			</select>
                </div>
        <div id="data" class="states"> 
        <table class="table table-hover" border="1">
            <tr><th>servername</th>
                <th>partitionname</th><th>bsize</th><th>fsize</th><th>sharename</th>
                <th>sharepath</th></tr>

<tr>
            {% for server in savedate %}
			{% for se in server.server.all %}
            <td rowspan="{{ se | count_share }}">{{se.servername}}</td>
            {% for part in se.partition.all %}
            <td rowspan="{{ part.share.count }}">{{part.partitioname}}</td>
            <td rowspan="{{ part.share.count }}">{{part.basicsize}}</td>
            <td rowspan="{{ part.share.count }}">{{part.freesize}}</td>
            {% for sh in part.share.all %}
            <td>{{sh.sharename}}</td>
            <td>{{sh.sharepath}}</td>
    </tr><tr>
        {% endfor %}
        {% endfor %}
        {% endfor %}
		{% endfor %}
    </tr>
    </table>
        </div>
{% endblock showsome %}
